  body{
    width: 100%;
    height: 100%;
  }
  
  .Section_1{
    border: 1px solid black;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: white;
    margin-top: -8px;
    z-index: 20;
  }
  
  
  .Section_1 .logo h3{
    margin-left: 300px;
    position: fixed;
     margin-top: 20px
     
  }
  .Section_1 .logo img{
    height: 31px;
    position: fixed;
    margin-left: 259px;
    margin-top: 18px;
  }
  .Section_1  .bar {
    margin-left: 600px;
  margin-top: 20px;
  position: fixed;
     
  }
  .Section_1  .bar a{
    margin: 21px;
     text-decoration: none;
    font-size: 20px;
    color: black;
  }
    .bar a:hover{
    background: skyblue;
    padding: 10px;
    border-radius: 5px;

  }
  .Section_1  .bar button{
    margin-left: 200px;
    width: 100px;
    height: 34px;
    color: blue;
    box-shadow: 3px 4px black;
    font-size: 17px;
      
  }
  .Section_1  .bar button:hover{
    background: skyblue;
  }
  .section-2 img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px
  }
  .section-2 .part_1{
    margin-top: -400px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    word-spacing: 5px;
    font-size: 25px;
    
  }
  .section-2 .part_1  button{
    width: 165px;
    height: 45px;
    color: red;
    font-size: 18px;
    box-shadow: 3px 4px black;
  }
  .section-2 .part_1  button:hover{
    background: gray;
    border: none;
    border-radius: 5px;
  }
  .section-2 .part_1 i{
    margin-left: 5px;
    position: absolute;
    color: red;
    margin-top: 11px;
  }
  .section_3  {
    border: 1px solid black;
    width: 560px;
    height: 315px;
    margin: 252px 0px 0px 260px;
    background: url("https://youtu.be/gAOgGgRhb34?si=ECUV2mXsD40o7fiV");
  }
  .section_3 .part2 {
     width: 450px;
    margin: -311px 1px 2px 640px;
    word-spacing: 6px;
    line-height: 30px;
}
.section_3 .part1 button{
 margin: -11px -130px 49px 162px;
  width: 115px;
  height: 40px;
  
}
.part1 .btn1{
    background: rgb(69, 54, 231);
  color: white;
  box-shadow: -1px -1px 8px 4px rgb(110, 98, 238);
  border: none;
  font-size: 16px;
  border-radius: 3px;
}
.part1 .btn1:hover{
    background: rgb(22, 7, 197);
}
.part1 .btn2{
    border-color:rgb(69, 54, 231) ;
    font-size: 16px;
    background: transparent;
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 3px;
    box-shadow: 3px 4px rgb(63, 63, 240)
}
.part1 .btn2:hover{
    background: rgb(22, 7, 197);
}
.section_4 .part1{
  text-align: center;
  margin-top: 60px;
  word-spacing: 10px;
  font-size: 18px;
  font-family: sans-serif;
   margin-left: -150px
}
.section_4 .part1 p{
  font-size: 13px;
}
.section_4 .box1{
  border: 1px solid black;
  width: 350px;
  height: 200px;
  margin: 70px 1px 1px 190px;
  border-radius: 5px;
  text-align: center;
  background: rgb(235, 235, 235);
  
}

.section_4 .box1 h4{
  margin: 78px 1px 1px -19px;
  position: revert;
  font-size: 24px;
}
.section_4 .box1 i{
  position: absolute;
  margin-top: 0px -1px 4x 12px;
  margin: 34px 1px 1px -22px;
  font-size: 35px;
  color: blue;
}

.section_4 .box2{
  border: 1px solid black;
  width: 350px;
  height: 200px;
  margin: -174px 1px 1px 380px;
  border-radius: 5px;
  background: rgb(235, 235, 235);
}


.section_4 .box3{
  border: 1px solid black;
  width: 350px;
  height: 200px;
  margin: -174px 1px 1px 380px;
  border-radius: 5px;
  background: rgb(235, 235, 235);
}

.section_4 .box4{
  border: 1px solid black;
  width: 350px;
  height: 200px;
  margin: 70px 1px 1px 191px;
  border-radius: 5px;
  text-align: center;
  background: rgb(235, 235, 235);
}


.section_4 .box4 h4{
  margin: 78px 1px 1px -19px;
  position: revert;
  font-size: 24px;
}
.section_4 .box4 i{
  position: absolute;
  margin-top: 0px -1px 4x 12px;
  margin: 34px 1px 1px -22px;
  font-size: 35px;
  color: blue;
}
.section_4 .box5{
  border: 1px solid black;
  width: 350px;
  height: 200px;
  margin: -174px 1px 1px 380px;
  border-radius: 5px;
  background: rgb(235, 235, 235);
  position: absolute;

}

.section_4 .box5 i{
  position: absolute;
  margin-top: 0px -1px 4x 12px;
  margin: -71px 1px 1px -22px;
  font-size: 35px;
  color: blue;
}

.section_4 .box6{
  border: 1px solid black;
  width: 350px;
  height: 200px;
  margin: -174px 1px 1px 380px;
  border-radius: 5px;
  background: rgb(235, 235, 235);
  position: absolute;
}
.section_4 .box6 i{
  position: absolute;
  margin-top: 0px -1px 4x 12px;
  margin: 36px 1px 1px -22px;
  font-size: 35px;
  color: blue;
}
.section_5 .part1{
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  word-spacing: 5px;
  font-family: sans-serif;
  color: rgb(77, 77, 77);
}
.section_5 .part1 p{
  font-size: 15px;
}
.section_5  .part2  .box1{
  border: 3px solid #dfddddee;
  width: 350px;
  height: 550px;
  margin: 50px 1px 1px 201px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  word-spacing: 5px;
}
.section_5  .part2  .box1 p{
  text-align: left;
  margin-left: 45px;
  font-size: 17px;
}
.section_5  .part2  .box1 button{
  width: 180px;
  height: 50px;
  font-size: 18px;
  margin-top: 40px;
  background: rgba(255, 123, 0, 0.995);
  color: white;
  border-radius: 10px;
  box-shadow: 3px 4px black;
}
.section_5  .part2  .box1 button:hover{
  background: orange;
  
}
.section_5  .part2  .box2{
  border: 3px solid #dfddddee;
  width: 350px;
  height: 550px;
  margin: -528px 1px 1px 378px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  word-spacing: 5px;
}
.section_5  .part2  .box1 p{
  text-align: left;
  margin-left: 45px;
  font-size: 17px;
}

.section_5  .part2  .box3{
  border: 3px solid #dfddddee;
  width: 350px;
  height: 550px;
  margin: -529px 1px 1px 378px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  word-spacing: 5px;

}
.section_6 .part1 h1{
  margin: 680px 1px 1px 497px;
  position: absolute;
  text-align: center;
  word-spacing: 5px;
  font-family:cursive;
  color: rgb(47, 44, 44);
}
.section_6 .part2 .pic1{
  border: 3px solid #dfddddee;
  width: 260px;
  height: 330px;
  margin: 770px 1px 1px 201px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  word-spacing: 5px;

}
.section_6 .part2 .pic2{
  border: 3px solid #dfddddee;
  width: 260px;
  height: 330px;
  margin: -305px 1px 1px 280px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  word-spacing: 5px;

}
.section_6 .part2 .pic3{
  border: 3px solid #dfddddee;
  width: 260px;
  height: 330px;
  margin: -305px 1px 1px 280px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  word-spacing: 5px;

}
.section_6 .part2 .pic4{
  border: 3px solid #dfddddee;
  width: 260px;
  height: 330px;
  margin: -305px 1px 1px 280px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  word-spacing: 5px;

}
.section7 .pt1{
  text-align: center;
  position: absolute;
  margin: 1150px 1px 1px 520px;
  font-family: cursive;
}
.section7 .pt1 button{
  width: 127px;
  margin-left: 80px;
  height: 30px;
  background: rgb(179, 0, 179);
  color: white;
  box-shadow: 5px 5px black;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
.section7 .pt1 input{
  width: 250px;
  height: 30px;
  border-radius: 6px;
  padding-left: 20px;
  box-shadow: 5px 5px black;
  border: none;
  background-color: rgb(203, 198, 198);
  font-size: 20px;
}
  .section7 .pt2{
     border: 5px solid rgb(191, 191, 191);
     width: 600px;
     height: 330px;
     margin: 78px 1px 1px -380px;
     position: absolute;
     font-family: cursive;
    text-align: justify;
    background: rgb(191, 191, 191);
    border-radius: 5px;
}
.section7 .pt3{
  margin: -230px 1px 1px 350px ;
  position: absolute;
  width: 240px;
}
.section7 .pt4{

  border: 5px solid rgb(191, 191, 191);
  width: 600px;
  height: 330px;
  margin: -294px 1px 1px 645px;
  position: absolute;
  font-family: cursive;
 text-align: justify;
 background: rgb(191, 191, 191);
 border-radius: 5px;
}
 .pt5{
  margin: -180px 1px 1px 338px;
  position: absolute;
}
.map{
  margin: 100px 1px 1px -600px ;
}
.pt6{
  border: 1px solid black;
  width:550px ;
   height:690px;
   position: absolute;
   margin-top: 100px;
   border: none;
}
 .section7 .pt6 input{
  width: 550px;
}
.section7 .M{
   height: 300px;
}





  
  